* {
  font-family: "Alice", "Times New Roman", Times, serif;
}

body{
  color: white;
  background-image: url("http://joerobusbachelor.party/static/background.jpeg"); 
}

h1{
  font-size:4rem;
}
h2{
  font-size:3.5rem;
}
h3{
  font-size:3rem;
}
p{
  font-size:2rem;
}

a{
  color: white;
  text-decoration: underline;
}

.w_s {
  padding: 2em;
}

.container{
  background: rgba(105, 105, 105, 0.7);
}

.text-header{
  text-align: center;
  
  width:100%;
  
}

.image-header{
    flex-shrink: 0;
    min-width: 75%;
    min-height: 75%;
    padding:2%;
    margin: 3%;
    background-color: rgba(105, 105, 105, 1);
}

.image-header-space{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

