* {
  font-family: "Alice", "Times New Roman", Times, serif;
}

body{
  background-image: url("http://joerobusbachelor.party/static/background.jpeg"); 
}

.w_s {
  padding: 2em;
}

.text-header{
    position: absolute;
    top: -400px;
    text-align: center;
    width:100%;
}

.image-header{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    padding:1%;
}

.image-header-space{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

