* {
  font-family: "Alice", "Times New Roman", Times, serif;
}

.w_s {
  padding: 2em;
}

.text-header{
    position: absolute;
    top: -400px;
    text-align: center;
    width:100%;
}

.image-header{
    position: relative;
    height: 270px;
    width: 480px;
}

